{% extends 'BeneluxRL/base.html' %}
{% load static %}
{% block content %}
    <div class="title-container">
        <img class="title" src="{% static 'foto/title.png' %}">
        <br>
        <div class="title-desc">
            <a>Welkom bij onze gaming community Ontmoet nieuwe mensen en nieuwe kansen</a>
        </div>

        <a class="title-button" href="https://discord.gg/rocket-league-benelux-773577581155844166" role="button"> <br>
            join vandaag</a>


    </div>

    <div class="information-section-container">
        <div class="information-items">
            <div class="information-item">
                <img class="information-icon" src="{% static 'icons/icon-headset.png' %}">
                <h1 class="information-header">
                    Online Community
                </h1>
                <a class="information-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis tristique orci, sagittis
                    tincidunt.
                </a>
            </div>
            <div class="information-item">
                <img class="information-icon" src="{% static 'icons/icon-news.png' %}">
                <h1 class="information-header">
                    Doelen
                </h1>
                <a class="information-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis tristique orci, sagittis
                    tincidunt.
                </a>
            </div>
            <div class="information-item">
                <img class="information-icon" src="{% static 'icons/icon-leader.png' %}">
                <h1 class="information-header">
                    Online Events
                </h1>
                <a class="information-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis tristique orci, sagittis
                    tincidunt.
                </a>
            </div>
        </div>
    </div>
    <div class="banner-section-container">
    </div>

    <div class="events-section-container">
        <h1 class="event-header">Upcoming Events</h1>
        <div class="event-items">
            <div class="event-item event-item-rl-bg">
                <a class="event-item-game"></a>
                <a class="event-item-game-players"></a>
                <a class="event-item-date"></a>
                <h1 class="event-item-header"></h1>
            </div>
            <div class="event-item event-item-rl-bg"></div>
            <div class="event-item event-item-lol-bg"></div>
        </div>

    </div>



{% endblock %}